node_modules
.yarn
.*
**/tsconfig.json
**/webpack.config.js
**/.editorconfig
**/.eslintignore
**/.eslint.json
**/.prettierignore
**/.prettierrc
**/.huskyrc.json
**/.lintstaged.json
**/.travis.yml
**/jest.config.js
./package.txt
./prepublish.js
./postpublish.js
./package-production.json
./pull_request_template.md
./CONTRIBUTING.md
./CODE_OF_CONDUCT.md
.github
docs
coverage
__tests__
src
