node_modules
.*
.git
.vscode
.vitehooks
.github
**/tsconfig.json
**/vite.config.ts
**/setup-jsdom-test.ts
**/.commitlintrc.json
**/.editorconfig
pull_request_template.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md
AGENTS.md
COUDE.md
GEMINI.md
docs
coverage
src
