{
  "branches": [
    {
      "name": "3.0.0-beta",
      "prerelease": true,
      "chanel": "beta"
    }
  ],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "pressetConfig": {
          "types": [
            {
              "type": "feat",
              "section": "Features",
              "hidden": false
            },
            {
              "type": "fix",
              "section": "Bug Fixes",
              "hidden": false
            },
            {
              "type": "docs",
              "section": "Documentation",
              "hidden": false
            },
            {
              "type": "chore",
              "section": "Chores",
              "hidden": true
            },
            {
              "type": "refactor",
              "section": "Code Refactoring",
              "hidden": false
            }
          ]
        }
      }
    ],
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "docs/CHANGELOG.md"
      }
    ],
    [
      "@semantic-release/npm",
      {
        "npmPublish": true,
        "pkgRoot": "."
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json",
          "docs/CHANGELOG.md"
        ],
        "message": "chore(release): ${nextRelease.version}"
      }
    ],
    [
      {
        "path": "./custom-tag-generator.cjs",
        "generateVersion": "./custom-tag-generator.cjs",
        "version": "./custom-tag-generator.cjs"
      }
    ]
  ]
}
